<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/5.6/engine/Shopware/Components/Plugin/schema/plugin.xsd">

    <label lang="de">Google SDK</label>
    <label lang="en">Google SDK</label>

    <version>3.0.0</version>

    <link>http://www.netinventors.de</link>
    <author>Net Inventors GmbH</author>

    <compatibility minVersion="5.6.0" />

    <changelog version="3.0.0">
        <changes lang="de"><![CDATA[
[#32210] Release für SW 5.6
        ]]></changes>
        <changes lang="en"><![CDATA[
[#32210] Release for SW 5.6
        ]]></changes>
    </changelog>

    <changelog version="2.0.0">
        <changes lang="de">Release für SW 5.5</changes>
        <changes lang="en">Release for SW 5.5</changes>
    </changelog>

    <changelog version="1.0.0">
        <changes lang="de">Erstes Release</changes>
        <changes lang="en">Initial release</changes>
    </changelog>
</plugin>
